

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#riphahhello {
  background: #D29538;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  min-height: 500px;
}

#riphahturk {
  background: #0B2E4E;
}

.navbar-brand {
  font-size: 30px;
  color: white;
  font-family: Roboto sans-serif;
}

#riphahturkfluid {
  background: #0B2E4E;
}

#riphahali {
  text-align: center;
  margin-top: 120px;
  color: white;
  font-family: Roboto sans-serif;
  min-height: 200px;
}

#riphahbye1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #D29538; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing1 3.5s steps(40, end),
    blink-caret .75s step-end ;
}

/* The typing effect for head1 */
@keyframes typing1 {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #D29538; }
}

#riphahbye2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #D29538; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing2 3.5s steps(40, end) 3.5s, /* Adding delay for typing */
    blink-caret .75s step-end  3.5s; /* Adding delay for blinking */
}

/* The typing effect for head2 */
@keyframes typing2 {
  from { width: 0 }
  to { width: 100% }
}

#riphahbye1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 2;
}
 
#riphahbye2 {
  font-size: 30px;
  font-weight: 490;
}

#riphahzohaib {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
}

.chats {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  
}

.chat {
  margin: 3rem;
  padding: 3rem 2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
  font-size: 13px;
}

.chat > img {
  width: 3.5rem;
  object-fit: cover;
  
}

.riphahone {
  background: #0B2E4E;
  width: fit-content;
  border-radius: 0.5rem;
  color: #D29538;
  
}


#riphahhuzaifa {
  margin-top: 170px;
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#riphahsaad {
  padding: 0.5rem;
  background: #0B2E4E;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
  margin-bottom: 80px;
}

#riphahsaad > input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: #D29538;
}

#riphahsaad > input, .send {
  background: transparent;
  border: none;
}

#riphahhuzaifa > p {
  margin: 2rem 0;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .main {
    margin: 5rem 7rem;
  }
  
  #riphahsaad {
    width: 60rem;
  }
}

@media (max-width: 992px) {
  #riphahzohaib {
    margin: 4rem 5rem;
  }
  
  #riphahsaad {
    width: 50rem;
  }
}

@media (max-width: 768px) {
  #riphahzohaib {
    margin: 3rem 3rem;
  }

  #riphahbye1 {
    font-size: 40px;
    font-weight: 500;
  }
  
  #riphahbye2 {
    font-size: 25px;
    font-weight: 500;
  }
  
  #riphahsaad {
    width: 40rem;
  }
}

@media (max-width: 576px) {
  #riphahzohaib {
    margin: 2rem 2rem;
  }

  #riphahbye1 {
    font-size: 30px;
    font-weight: 500;
  }
  
  #riphahbye2 {
    font-size: 20px;
    font-weight: 500;
  }
  
  #riphahsaad {
    width: 30rem;
  }
}

@media (max-width: 400px) {
  #riphahzohaib {
    margin: 1rem 1rem;
  }

  #riphahbye1 {
    font-size: 15px;
    font-weight: 500;
  }
  
  #riphahbye2 {
    font-size: 10px;
    font-weight: 500;
  }
  
  #riphahsaad {
    width: 25rem;
  }
}
